*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Shadows Into Light', cursive;
    background: #f8ffe8; 
    background: -moz-linear-gradient(top, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); 
    background: -webkit-linear-gradient(top, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); 
    background: linear-gradient(to bottom, #f8ffe8 0%,#e3f5ab 33%,#b7df2d 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8ffe8', endColorstr='#b7df2d',GradientType=0 );
}

h1{
    background-color: rgba(107, 131, 20, 0.363);
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 30px 0 30px 0;
    text-transform: uppercase;
    font-weight: 200;
}

.add-form{
    border: 1px solid rgb(212, 193, 193);
    text-align: center;
    margin: 20px 200px 20px 200px;
    padding: 50px;
    border-radius: 10px;
}

#txt-task{
    width: 60%;
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid rgb(17, 13, 13);
    font-size: 18px;
}

.btn{
    background-color: rgb(109, 187, 119);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}

ul li{
    display: flex;
    width: 180px;
    list-style-type: none;
    background-color: rgba(71, 78, 69, 0.377);
    border-radius: 3px;
    color:black;
    font-size:18px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding:10px;
}

ul li:hover{
    background-color: rgb(214, 214, 193);
}

#pending-list button{
    border-radius: 5px;
    float: right;
    background-color: rgba(107, 131, 20, 0.363);
    color: white;
    text-transform: uppercase;
    font-weight: 200;
}

.list{
    display: flex;
    margin-top: 3rem;
    text-transform: uppercase;
    margin-left: 200px;
    border-radius: 5px;
}

.task-list{
    border: solid 1px rgb(165, 152, 152);
    height: auto;
    width: 20rem;
    border

footer{
    position: fixed;
    height: 2rem;
    background-color: rgba(107, 131, 20, 0.363);
    color: white;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
    text-align: center;
}
footer p{
    margin-top: 3px;
}